@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

#loading {
    display: block;
}
#welcome {
    display: none;
}
#form, #form2, #form3, #form4 {
    display: none;
}

#kesan-pesan1 {
    display: none;
}

select[name=jurusan], select[name=nomor] {
    display: inline-block;
}

*, html {
    padding: 0;
    margin: 0;
    zoom: 1;
    box-sizing: border-box;
}

::selection {
    background-color: rgb(200, 0, 0);
    color: yellow;
}

body {
    background: linear-gradient(to top, rgb(0, 40, 60), rgb(0, 80, 130)) no-repeat;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

button, img, label, input, select, br {
    user-select: none;
}

h2 {
    margin-bottom: 10px;
}

div.loading {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    user-select: none;
}

div.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span.dots {
    display: inline-block;
    vertical-align: middle;
    width: .6em;
    height: .6em;
    margin: .19em;
    background: #c9c619;
    border-radius: .6em;
    filter: drop-shadow(0 0 5px #222);
    animation: loading 0.5s infinite alternate;
}

span.dots:nth-of-type(2) {
    background: #ffffff;
    animation-delay: 0.2s;
}

span.dots:nth-of-type(3) {
    background: #6598f7;
    animation-delay: 0.4s;
}

@keyframes loading {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

div.loading img.logo {
    max-width: 100px;
    width: 80%;
    height: auto;
    filter: drop-shadow(0 0 5px #222);
}

div.welcome {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    animation: welcome 1s linear alternate;
    transition: 1s;
}

div.welcome-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes welcome {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

div.welcome img.logo {
    max-width: 50px;
    width: 90%;
    height: auto;
}

button.btn, input[type=submit] {
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #c9c619;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    transition: 0.5s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    cursor: pointer;
}

button.btn:hover {
    background-color: #aca91c;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

button.btn:active {
    transform: scale(0.95);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button.btn:disabled {
    filter: brightness(0.5);
}

div.form, div.form2, div.form3, div.form4 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    animation: form 1s linear alternate;
}

div.kesan-pesan1 {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    animation: form 1s linear alternate;
}

div.form-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes form {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

p.radio {
    display: inline-block;
    max-width: 150px;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #477cdf;
    color: white;
    transition: 0.5s;
    user-select: none;
}

p.radio:hover {
    background-color: #3862b4;
}

p.radio:active {
    transform: scale(0.9);
}

p.radio span {
    position: relative;
    top: 35%;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + p.radio {
    background-color: white;
    color: #477cdf;
}

div.form-container h2 {
    line-height: 0.9;
}

span.sub {
    font-size: small;
}

input[type=text] {
    max-width: 360px;
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
}

input[name='username-siswa'], input[name='username-guru'] {
    text-transform: uppercase;
}

input[name=jabatan] {
    text-transform: capitalize;
}

input[name=username-siswa]::placeholder, input[name=username-guru]::placeholder {
    text-transform: none;
}

input[name=jabatan]::placeholder {
    text-transform: none;
}

input[type=text]:focus {
    outline: 1px solid #6598f7;
    box-shadow: 0 0 8px #6598f7;
}

div.select-option {
    background-color: white;
    max-width: 360px;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    user-select: none;
}

div.select-option:hover {
    outline: 1px solid #6598f7;
    box-shadow: 0 0 8px #6598f7;
}

select.chooser {
    background: none;
    width: 105px;
    padding: 10px;
    border: none;
    cursor: pointer;
    user-select: none;
}

select.chooser:focus {
    outline: none;
}

button.btn-back1, button.btn-back2, button.btn-back3, button.btn-back4, button.btn-home {
    background-color: #fb652e;
}

button.btn-back1:hover, button.btn-back2:hover, button.btn-back3:hover, button.btn-home:hover {
    background-color: #c94a1c;
}

div.holder-button {
    user-select: none;
}

textarea.text-pesan {
    font-family: 'Open sans', sans-serif;
    margin-top: 5px;
    padding: 5px;
    resize: vertical;
    height: 120px;
    min-height: 60px;
    max-height: 240px;
    border-radius: 10px;
}

textarea.text-pesan:focus {
    outline: 1px solid #6598f7;
    box-shadow: 0 0 8px #6598f7;
}